canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
}

body {
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.zind{
    z-index: 10;
}
.nav-text{
    font-size: 3vh;
}
.nav-text-link{
    font-size: 2.5vh;
}


.index-name{
    text-align: center;
    position: fixed;
    top: 30vh;
    color: white;
    font-size: 7.5vh;
}
.index-status{
    text-align: center;
    position: fixed;
    bottom: 15vh;
    color: white;
    font-size: 3.4vh;
}
.index-icons{
    text-align: center;
    position: fixed;
    bottom: 9vh;
    font-size: 3.4vh;
    filter: brightness(0) invert(1);
}
.about-cont{
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 13vh;
    z-index: 10;
}
.about-bg{
    background-color: rgba(0, 0, 0, 0.75);
}
.about-img{
    max-width: 80%;
    padding-top: 5vh;
    text-align: center;
    padding-bottom: 5vh;
}
.about-name{
    text-align: center;
    font-size: 3.8vh;
    color: white;
    padding-top: 8vh;
    padding-bottom: 3vh;
}
.about-text{
    padding-bottom: 3vh;
    color: white;
    font-size: 2.3vh;
    text-align: center;
    padding-top: 2vh;
}
.about-img-out{
    text-align: center;
    font-size: 4vh;
}
.about-icon{
    filter: brightness(0) invert(1);
    font-size: 4vh;
    height: 12vh;
}
.about-icon-center{
    text-align: center;
}
.about-icon-text{
    color: white;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 6vh;
    font-size: 2vh;
}
.about-libraries{
    color: white;
    padding-top: 6vh;
    padding-bottom: 10vh;
    text-align: center;
    font-size: 4vh;
}
.about-edu-year{
    text-align: center;
    font-size: 3vh;
    padding-top: 5vh;
    color: white;
}
.about-edu-ins{
    color: white;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.about-edu-desc{
    color: white;
    font-size: 2.2vh;
    text-align: center;
    padding-bottom: 5vh;
}
.about-space{
    padding-bottom: 8vh;
}
.projects-bg{
    background-color: rgba(0, 0, 0, 0.75);
}
.projects-cont{
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 13vh;
    z-index: 10;
}
.projects-title{
    color: white;
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 6vh;
}
.projects-card{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 4vh;
    transition: 0.2s;
}
.projects-card:hover{
    scale: 102%;
    cursor: pointer;
}
a.card{
    color: inherit;
    text-decoration: none;
}

.about-resume-title{
    color: white;
    padding-top: 6vh;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 4vh;
}

.about-resume{
    text-align: center;
    padding-bottom: 1vh;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}